@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 66, 74, 89;
  --foreground: 255, 255, 255;
  
  --card: 56, 64, 79;
  --card-foreground: 255, 255, 255;
  
  --popover: 56, 64, 79;
  --popover-foreground: 255, 255, 255;
  
  --primary: 134, 239, 172;
  --primary-foreground: 0, 0, 0;
  
  --secondary: 76, 84, 99;
  --secondary-foreground: 255, 255, 255;
  
  --muted: 76, 84, 99;
  --muted-foreground: 160, 160, 160;
  
  --accent: 76, 84, 99;
  --accent-foreground: 255, 255, 255;
  
  --destructive: 239, 68, 68;
  --destructive-foreground: 255, 255, 255;
  
  --border: 82, 90, 105;
  --input: 82, 90, 105;
  --ring: 134, 239, 172;
  
  --radius: 0.5rem;
}

html {
  scroll-behavior: smooth;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
  background-color: rgb(66, 74, 89);
  color: white;
}